{{ define "main" }}
  <div class="about-section">
    {{ .Content }}
  </div>

  <hr>

  <h2>Featured Posts</h2>
  <ul>
    {{/* You can add a "featured: true" to the front matter of your best posts */}}
    {{ range where .Site.RegularPages "Params.featured" true }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>

  <hr>

  <h2>Recent Posts</h2>
  <ul>
    {{ range first 5 .Site.RegularPages.ByDate.Reverse }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <br>
        <small>{{ .Date.Format "January 2, 2006" }} &middot; {{ .ReadingTime }} min read</small>
      </li>
    {{ end }}
  </ul>

  <a href="/notes">See all posts...</a>

{{ end }}